<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 폼</title>
</head>
<body>
<form action="/users/form" method="post">

    <div>
        <p class="sign" align="center">JOIN</p>
    </div>

    <div>
        <input placeholder="ID" type="text" id="userId" name="userId">
    </div>
    <div>
        <input placeholder="PASSWORD" type="password" id="userPassword" name="userPassword">
    </div>
    <div>
        <input placeholder="E-MAIL" type="text" id="email" name="email">
    </div>
    <div>
        <input placeholder="NICKNAME" type="text" id="nickname" name="nickname">
    </div>
    <div>
        <button type="submit">OK</button>
    </div>
</form>
</body>
</html>